{{!-- for some reason getting rid of 'review as reviews' puts something on the page --}}
{{#each .}}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/review/{{review.id}}">{{review.name}}</a>
    </h2>
    <p>
      
    <p>Created by {{review.user.name}} on {{review.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{review.descrirption}}
    </p>
  </div>
</div>
{{/each}}
